@charset "UTF-8";

#port0_block {
	position: absolute;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
}
#port0_vid {
	position: absolute;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
}
#port0_over {
	background-image: url('i/sbg.png');
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#port1_bg {
	position: absolute;

	width: 100%;
	height: 100%;
	
	background-image: url('i/bgd1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#port2_fade {
	background-color: #000000;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#port2_vid {
	position: absolute;
	left: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
}
#port2_over {
	background-image: url('i/sbg.png');
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#port2_cap {
	position: absolute;
	
	background-image: url('i/quake/cap.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#port2_eclipse {
	position: absolute;
	
	background-image: url('i/quake/eclipse.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#port2_nail {
	position: absolute;
	
	background-image: url('i/quake/nail.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#port2_flame {
	position: absolute;
	
	background-image: url('i/quake/flame.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#port2_flash {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #ffffff;
}