@charset "UTF-8";

$mFontSize: 2.5vh;
$mTitleFontSize: 3.5vw;
$textColor: #ffffff;
$navBG: #1f1f1f;
$inactiveDark: #7f7f7f;
$minWidth: 800px;
$minHeight: 400px;

$readableSize: 4vh;

//Статьи
$paddingSide: 10vw;
$paddingTop: 6vw;
$articleEase: 0.4s;

// Карта
$mapOffset: 32px;

// Шарики
$circleOpacity: 0.5;
$circleEaseTime: 0.3s;

// Анонс
$barHeight: 4px;
$barOffset: 32px;

// Указатель
$triangleHeight: 16px;
$pointerDistance: 4px;
$pointerEaseTime: 0.3s;

// Copyright
$copyrightFont: 12px;
$copyrightOffset: 12px;

// Outline
$outlineShadowMultiplyer: 0.04;
$outlineStrokeMultiplyer: 0.015;
$outlineColor: #000000;

@mixin stretch($position) {
	position: $position;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

@mixin absoluteStretch {
	@include stretch(absolute);
}

@mixin fixedStretch {
	@include stretch(fixed);
}