@charset "UTF-8";

@import "global";

$backColor: #0f0f0f;
$fadeIn: 1s;

$skyHeight: 20vh;
$skyBlendHeight: 9vh;
$foreWidth: 100vh;
$foreHeight: 90vh;
$waterPerc: 0.8;
$waterHeight: $foreHeight * $waterPerc;

$fadeTime: 0.5s;

$ratingElColor: $textColor;
$ratingElBackPos: #3f3f3f;
$ratingElBackName: #2f2f2f;
$ratingElHeight: $readableSize*1.45;
$ratingElWidth: 50vh;
$ratingElPaddingSide: 1.5vh;
$ratingElPaddingTop: 0.5vh;
$ratingElMargin: 1vh;
$ratingElTransition: 1s;

$mortisAvatar: 18vh;
$mortisMargin: 2vh;

.introducement {
	background-color: $backColor;

	display: flex;

	align-items: center;

	justify-content: center;

	width: 100%;
	height: 100vh;

	position: relative;

	transition: opacity $fadeTime;

	.introducement_text {
		max-width: 100vh;
		width: 100%;
			
		padding-left: 10vh;
		padding-right: 10vh;

		text-align: justify;
	}
}

.introducement_fade_in {
	animation: fadeIn $fadeTime;
}
.introducement_fade_out {
	opacity: 0;
	animation: fadeOut $fadeTime;
}

#rating {
	background-color: $backColor;

	display: flex;

	align-items: center;

	justify-content: center;

	width: 100%;
	height: 100vh;

	position: relative;

	transition: opacity $fadeTime;

	#rating_wrapper {
		max-width: 100vh;
		width: 100%;

		padding-left: 10vh;
		padding-right: 10vh;

		#rating_text {
			text-align: justify;
		}

		#rating_list {
			.rating_el {
				position: relative;
				
				max-width: $ratingElWidth;
				margin-left: auto;
				margin-right: auto;
				margin-top: $ratingElMargin;

				font-size: $readableSize;

				height: $ratingElHeight;

				color: $ratingElColor;

				.rating_flow {
					position: absolute;
					width: 100%;
					height: 100%;

					background-color: $ratingElBackName;

					top: 100vh;

					transition: top $ratingElTransition ease-out;

					&.rating_flowed {
						top: 0;
					}
				}

				.rating_pos {
					box-sizing: border-box;

					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: $ratingElHeight;

					background-color: $ratingElBackPos;
					padding-top: $ratingElPaddingTop;

					text-align: center;
				}
				.rating_name {
					box-sizing: border-box;

					position: absolute;
					left: $ratingElHeight;
					right: 0;
					top: 0;
					bottom: 0;

					padding-top: $ratingElPaddingTop;
					padding-left: $ratingElPaddingSide;
					padding-right: $ratingElPaddingSide;
				}
			}
		}
	}
}

.rating_fade_in {
	animation: fadeIn $fadeTime;
}
.rating_fade_out {
	opacity: 0;
	animation: fadeOut $fadeTime;
}

@keyframes introducementFadeInZone {
	from {
		background-color: $zone0Sky; 
		padding-bottom: 150%;
	}
	to {
		background-color: $backColor;
		padding-bottom: 0;
	}
}
@keyframes introducementFadeOutTitle {
	from {
		background-color: $backColor;
	}
	to {
		background-color: #000000; 
	}
}

@keyframes introducementFadeInZoneText {
	from { padding-bottom: 150%; }
	to   { padding-bottom: 0; }
}

.introducement_fade_in_zone0 {
	animation: introducementFadeInZone $fadeTime;
}

.introducement_fade_in_zone0_text {
	animation: introducementFadeInZoneText $fadeTime;
}

#introducement_mortis_part {
	min-height: $mortisAvatar;
}
#introducement_mortis {
	float: left;
	background-image: url('i/mortis.png');
	background-size: contain;
	width: $mortisAvatar;
	height: $mortisAvatar;
	margin-right: $mortisMargin;
}