@charset "UTF-8";

@import "global";
@import "optimized";
@import "buttons";
@import "floors";

* {
	padding: 0px;
	margin: 0px;
	font: {
		family: Roboto;
		weight: normal;
	}
}
html {
	color: #000;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	size: 50vh;
}
body {
	width: 100%;
	min-height: 100%;
}

canvas {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#box {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 65vw;
}

#ui {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 35vw;
}

.readableBlock {
	font-size: $readableSize;
	color: $textColor;
}

.highlight {
	font-weight: bold;
}

.hidden {
	display: none !important;
}

#viewport {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to   { opacity: 0; }
}