@charset "UTF-8";

@import "global";

$blendColor: #ffffff;
$fadeTime: 2s;

$skyHeight: 20vh;
$skyBlendHeight: 9vh;
$foreWidth: 100vh;
$foreHeight: 90vh;
$waterPerc: 0.8;
$waterHeight: $foreHeight * $waterPerc;

$textSize: 12vh;

$portraitWidth: 20vh;

#second_character {
	width: 100%;
	min-height: 100vh;

	position: relative;

	#second_character_bg {
		position: absolute;

		top:0;
		bottom:0;
		left:0;
		right:0;

		background-color: $blendColor;

		#second_character_window {
			position: absolute;
			max-width: 250vh;
			margin: auto;

			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			background-image: url('i/z0/bg1.png');
			background-size: cover;
			background-position-x: center;
			background-position-y: top;

			.second_character_blend {
				position: absolute;
				top: 0;
				width: 4vh;
				height: 100%;
				display: none;
				&#second_character_blend_left {
					left: 0;
					background: linear-gradient(to right, $blendColor, rgba(0,0,0,0));
				}
				&#second_character_blend_right {
					right: 0;
					background: linear-gradient(to left, $blendColor, rgba(0,0,0,0));
				}
			}

			@media all and (min-aspect-ratio: 5/2) {
				.second_character_blend {
					display:block;
				}
			}
		}
	}

	#second_character_talk_wrapper {
		position: absolute;
		max-width: 125vh;
		margin: auto;

		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		padding-left: 10vh;
		padding-right: 10vh;
	}
		#second_character_start_wrapper {
			width: 100%;
			height: 100%;

			position: relative;

			display:flex;
			align-items: center;
			justify-content: center;
		}
			#second_character_start_portrait {
				width: $portraitWidth;
				height: $portraitWidth;
				
				float: left;
				
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				
				background-image: url('i/z0/judge1.png');
			}

			#second_character_portrait_wrapper {
				position:absolute;
				left: 0;
				width: $portraitWidth;
				top: 0;
				bottom: 0;
				
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			#second_character_text {
				position:absolute;
				left: $portraitWidth;
				right: 0;
				top: 0;
				bottom: 0;

				display:flex;
				align-items: center;
				justify-content: center;
			}

		.second_character_dialogue_wrapper {
			width: 100%;
			height: 100%;

			position: relative;

			display:flex;
			align-items: center;
			justify-content: center;
		}
			.second_character_dialogue_centerer {
				max-width: 100%;
			}
				.second_character_writing_offset {
					padding-left: $portraitWidth;
					word-wrap: break-word;
					&.second_character_writing_offset_margin {
						margin-bottom: 5vh;
					}
				}
				.second_character_dialogue_blink {

				}
					.writing_block {
						min-height: $portraitWidth;	
						position: relative;
						margin-bottom: 5vh;
					}
					.writing_portrait {
						width: $portraitWidth;
						height: $portraitWidth;
						position:absolute;
						left: 0;
						top: 0;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;

						image-rendering: pixelated;
					}
					.writing_letters {
						padding-left: $portraitWidth;
						word-wrap: break-word;
					}
	
	@keyframes zone0FadeIn {
		from { top: 150%; }
		to   { top: 0; }
	}
	@keyframes zone0FadeOut {
		from { top: 0; }
		to   { top: 150%; }
	}
	.zone0_fade_in {
		animation: zone0FadeIn $fadeTime ease-in;
	}
	.zone0_fade_out {
		top: 150%;
		animation: zone0FadeOut $fadeTime ease-out;
	}
}

.writing_hidden {
	visibility: hidden;
}