@charset "UTF-8";

@import "global";

$backColor: #000000;

$fadeTime: 11s;

$stepAnimBeg: 10%;
$stepAnimEnd: 80%;
$stepAnimFade: 20%;

#off_title {
	background-color: $backColor;

	width: 100%;
	height: 100vh;

	#off_title_background {
		width: 100%;
		height: 100vh;

		background-image: url('i/off_title.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		image-rendering: pixelated;
	}
}

.off_title_cont_anim {
	background-color: $zone0Sky; 
	animation: offTitleContainerAnim $fadeTime ease-in;
}
.off_title_BG_anim {
	opacity: 0;
	animation: offTitleBGAnim $fadeTime ease-in;
}

@keyframes offTitleContainerAnim {
	0%, #{$stepAnimEnd} {
		background-color: #000000;
	}
	100% {
		background-color: $zone0Sky; 
	}
}
@keyframes offTitleBGAnim {
	0%, #{$stepAnimBeg}, #{$stepAnimEnd}, 100% {
		opacity: 0;
	}
	#{$stepAnimBeg + $stepAnimFade}, #{$stepAnimEnd - $stepAnimFade} {
		opacity: 1;
	}
}