@charset "UTF-8";

@import "global";

$blendColor: #ffffff;

$postColor: #0f0f0f;

$animationTime: 7s;

$anim2Batter: 15%;
$anim3BatterFov: 20%;
$anim4Close: 25%;
$anim5CloseEnd: 30%;
$anim6BatterStop: 35%;

$windowWidth: 200vh;

$bgImage: url('i/shake/back.png');
$aspectBG: 1.6;

$farZoom1: 2.2;
$farZoom2: 2;

$closeWindowHeight: 20vh;

$closeZoom: 2.2;

$cropHeight: 40vh;

#shake {
	position: absolute;

	top:0;
	bottom:0;
	left:0;
	right:0;

	background-color: $blendColor;
	#shake_bg_window {
		width: $windowWidth;
		height: 100vh;
		position: absolute;

		left: 50%;
		margin: auto;
		margin-left: - $windowWidth/2;

		overflow: hidden;
			
		#shake_far_window {
			position: absolute;

			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			overflow: hidden;

			#shake_far_bundle {
				position: absolute;

				background-image: $bgImage;

				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;

				animation: shakeFarAnim $animationTime linear infinite;
			}
		}
		#shake_close_window {
			position: absolute;

			left: 0;
			right: 0;

			height: $closeWindowHeight;

			animation: shakeCloseWindowAnim $animationTime linear infinite;
				
			overflow: hidden;
			
			#shake_close_centerer {
				position: absolute;

				left: 0;
				right: 0;

				height: 100vh;

				animation: shakeCloseCentererAnim $animationTime linear infinite;

				#shake_close_bundle {
					position: absolute;

					background-image: $bgImage;

					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;

					top: - $closeZoom*$windowWidth/$aspectBG/2;
					bottom: - $closeZoom*$windowWidth/$aspectBG/2;

					animation: shakeCloseAnim $animationTime linear infinite;
				}
			}
		}

		#shake_batter_appear {
			position: absolute;
				
			top: 0;
			bottom: 0;
			width: 100vh;

			background-image: url('i/shake/before.png');

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			animation: shakeAppearAnim $animationTime ease-out infinite;
		}
	}
	#shake_fore {
		position: absolute;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		#shake_batter_stay {
			position: absolute;

			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			height: 100vh;

			margin: auto;

			background-image: url('i/shake/after.png');

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		.shake_crop {
			position: absolute;

			left: 0;
			right: 0;

			height: $cropHeight;

			background-color: #000000;

			&#shake_crop_top {
				top: 0;
			}
			&#shake_crop_bottom {
				bottom: 0;
			}
		}
	}

	.shake_blend {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 4vh;
		display: none;
		&#shake_blend_left {
			left: 0;
			background: linear-gradient(to right, $blendColor, rgba(0,0,0,0));
		}
		&#shake_blend_right {
			right: 0;
			background: linear-gradient(to left, $blendColor, rgba(0,0,0,0));
		}
	}
	@media all and (min-aspect-ratio: 2/1) {
		.shake_blend {
			display:block;
		}
	}
	
	@keyframes shakeFarAnim {
		0% {
			// Стартует
			width: $farZoom1*$windowWidth;
			right: - ($farZoom1*$windowWidth - $windowWidth);
			top: - $farZoom1*$windowWidth/$aspectBG/2;
			bottom: - $farZoom1*$windowWidth/$aspectBG/2;
		}
		#{$anim2Batter} {
			// Едет
			width: $farZoom1*$windowWidth;
			top: - $farZoom2*$windowWidth/$aspectBG/2;
			bottom: - $farZoom2*$windowWidth/$aspectBG/2;
		}
		#{$anim3BatterFov} {
			width: $farZoom2*$windowWidth;
			// Отдаляется, едет
			top: - $farZoom2*$windowWidth/$aspectBG/2;
			bottom: - $farZoom2*$windowWidth/$aspectBG/2;
		}
		#{$anim5CloseEnd} {
			width: $farZoom2*$windowWidth;
			right: - ($farZoom2*$windowWidth - $windowWidth)/2;
			top: - $farZoom2*$windowWidth/$aspectBG/2;
			bottom: - $farZoom2*$windowWidth/$aspectBG/2;
		}
		#{$anim6BatterStop}, 100% {
			// Стоит
			width: $farZoom2*$windowWidth;
			right: 0;
			top: - $farZoom2*$windowWidth/$aspectBG/2;
			bottom: - $farZoom2*$windowWidth/$aspectBG/2;
		}
	}
	
	@keyframes shakeCloseWindowAnim {
		0%, #{$anim4Close} {
			top: - $closeWindowHeight;
		}
		#{$anim5CloseEnd}, 100% {
			top: 100vh;
		}
	}
	
	@keyframes shakeCloseCentererAnim {
		0%, #{$anim4Close} {
			top: $closeWindowHeight;
		}
		#{$anim5CloseEnd}, 100% {
			top: -100vh;
		}
	}
	
	@keyframes shakeCloseAnim {
		0% {
			width: $closeZoom*$windowWidth;
			right: - ($farZoom1*$windowWidth - $windowWidth) + ($closeZoom*$windowWidth - $farZoom2*$windowWidth)/2;
		}
		#{$anim6BatterStop}, 100% {
			width: $closeZoom*$windowWidth;
			right: - ($closeZoom*$windowWidth - $farZoom2*$windowWidth)/2;
		}
	}
	
	@keyframes shakeAppearAnim {
		0%, #{$anim2Batter} {
			left: $windowWidth;
		}
		#{$anim3BatterFov} {
			left: ($windowWidth - 100vh)/2 + 20vh;
		}
		#{$anim6BatterStop}, 100% {
			left: ($windowWidth - 100vh)/2 - 20vh;
		}
	}
}