@charset "UTF-8";

@import "global";

$blendColor: #ffffff;
$fadeTime: 2s;

$skyHeight: 20vh;
$skyBlendHeight: 9vh;
$foreWidth: 100vh;
$foreHeight: 90vh;
$waterPerc: 0.8;
$waterHeight: $foreHeight * $waterPerc;

$textSize: 12vh;

#zone0 {
	width: 100%;
	min-height: 100vh;

	position: relative;

	#zone0_bg {
		position: absolute;

		top:0;
		bottom:0;
		left:0;
		right:0;

		background-color: $blendColor;

		#zone0_window {
			position: absolute;
			max-width: 200vh;
			margin: auto;

			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			overflow: hidden;

			background-color: $zone0Sky;

			.zone0_blend {
				position: absolute;
				top: 0;
				width: 4vh;
				height: 100%;
				display: none;
				&#zone0_blend_left {
					left: 0;
					background: linear-gradient(to right, $blendColor, rgba(0,0,0,0));
				}
				&#zone0_blend_right {
					right: 0;
					background: linear-gradient(to left, $blendColor, rgba(0,0,0,0));
				}
			}

			@media all and (min-aspect-ratio: 2/1) {
				.zone0_blend {
					display:block;
				}
			}

			#zone0_bundle {
				width: 200vh;
				height: 100vh;
				position: absolute;

				left: 50%;
				margin: auto;
				margin-left: -100vh;

				#zone0_sky {
					background-image: url(i/zone0_sky.png);

					position: absolute;
					height: $skyHeight+$skyBlendHeight;
					bottom: $waterHeight - $skyBlendHeight;
					left: 0;
					right: 0;
					background-repeat: repeat-x;
					background-size: contain;
				}

				#zone0_mov {
					position: absolute;

					bottom: 0;
					left: 0;
					right: 0;
					height: $waterHeight;

					overflow: hidden;

					#zone0_vid {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						min-width: 100%;
						height: 100%;
						width: auto;
					}
				}

				#zone0_fore {
					background-image: url(i/start_alpha.png);

					position: absolute;
					bottom: 0;
					left: 10vh;
					width: $foreWidth;
					height: $foreHeight;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			}
		}
	}

	#zone0_text_wrapper {
		position: relative;

		padding-top:30vh;

		width: 100%;

		text-align: center;

		#zone0_text {
			color: $textColor;
			font-size: $textSize;
			@include outline($textSize, $outlineColor);
		}
	}
	
	@keyframes zone0FadeIn {
		from { top: 150%; }
		to   { top: 0; }
	}
	@keyframes zone0FadeOut {
		from { top: 0; }
		to   { top: 150%; }
	}
	.zone0_fade_in {
		animation: zone0FadeIn $fadeTime ease-in;
	}
	.zone0_fade_out {
		top: 150%;
		animation: zone0FadeOut $fadeTime ease-out;
	}
}